/data/the-circor-digiscope-phonocardiogram-dataset-1.0.3
/features/logmel_segments
/features/mfcc_segments
.venv
.idea
/results/svm_logmel/pca_svm_logmel.pkl
/results/svm_logmel/svm_model_logmel.pkl
/results/svm_mfcc/pca_svm_mfcc.pkl
/results/svm_mfcc/svm_model_mfcc.pkl